body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #ffffff;
}
h1{
    color: rgb(0, 0, 0);
    
}

#form-container {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
}

input.error {
    border-color: rgb(255, 0, 0);
}

#errorMsg {
    color: red;
    font-size: 20px;
}

#shoppingList {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    border-bottom: 2px solid #000000;
}

.done {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

button {
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255)
}

.hidden {
    display: none;
}

