body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #e5e0e0;
}
h1{
    color: rgb(255, 21, 197);
    
}

#form-container {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    border: 3px solid #6e6b6b;
    border-radius: 10px;
    background-color:rgb(252, 216, 248);
}

input.error {
    border-color: red;
}

#errorMsg {
    color: red;
    font-size: 20px;
}

#shoppingList {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    border-bottom: 1px solid #5e5e5e;
}

.done {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color:rgb(252, 216, 248)
}

.hidden {
    display: none;
}

